common --enable_platform_specific_config

common --java_language_version=17
common --java_runtime_version=17
common --tool_java_language_version=17
common --tool_java_runtime_version=17

common --android_platforms=@rules_android//:x86_64

# Help CI OOMs on Windows
build:windows --nodesugar_for_android

mobile-install:linux --adb=external/+android+androidsdk_linux/platform-tools/linux/adb
mobile-install:macos --adb=external/+android+androidsdk_darwin/platform-tools/darwin/adb
mobile-install:windows --adb=external/+android+androidsdk_windows/platform-tools/windows/adb.exe

common --repo_env=ACCEPTED_ANDROID_SDK_LICENSE_VERSION=35
common --repo_env=ACCEPTED_ANDROID_NDK_LICENSE_VERSION=r25c

common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
common --incompatible_enable_proto_toolchain_resolution

# --remote_header=x-buildbuddy-api-key=<BUILDBUDDY_API_KEY secret>.
build:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/
build:buildbuddy --bes_backend=grpcs://remote.buildbuddy.io
build:buildbuddy --experimental_remote_downloader=grpcs://buildbuddy.buildbuddy.io
build:buildbuddy --experimental_remote_downloader_local_fallback
build:buildbuddy --remote_cache=grpcs://remote.buildbuddy.io
build:buildbuddy --remote_cache_compression
build:buildbuddy --remote_timeout=3600

build:buildbuddy-ci --config=buildbuddy
build:buildbuddy-ci --build_metadata=ROLE=CI
build:buildbuddy-ci --build_metadata=VISIBILITY=PUBLIC
